project:
  type: website
  output-dir: docs

website:
  title: "Wil Rantala - MUSA 5080 Portfolio"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme: cosmo
    toc: true
    code-fold: true

execute:
  freeze: auto
